h1,h2,h3,h4,h5,h6,p,blockquote{
	margin:0;
}
address,em{
	font-style: normal;
}
ol,ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
dl,dd{
	margin: 0;
}
a{
	color: black;
	text-decoration: none;
}
strong{
	font-weight: normal;
}
