<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1496904966&di=74c6179e582bf05a9764c42e73f5f699&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.meimi.cc%2Fmeinv%2F20170509%2F5hxw2ouztcl156.jpg" alt="">
    <%
        var a = 100 + 200
    %>
    <p><%=a%></p>
  </body>
</html>
